<aside class='dictionary-card' data-post="1" data-topic="{{topic}}">
  <div class='title'>
    <div class='quote-controls'></div>
    <h3 class="definition-title"><a href="{{original_url}}">{{{title}}}</a></h3>
    {{{category_html}}}
  </div>
  {{{content}}}
  <div class='topic-info'>
  </div>
</aside>